html,body{
	height:100%;
}
.message {
	padding-top:45px;
	padding-bottom :60px;
}
.message .nav-top{
	width:100%;
	background-color: #fff;
	min-width:320px;
	overflow:hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	
}
.message .nav-top>div{
	margin:0 15px;
	height:45px;
	position:relative;
}
.message .nav-top>div>div{
	position:absolute;
    top: 50%;
    transform: translateY(-50%);
}
.message .nav-text{
	width:92%;
	left:0;
	right:0;
	margin:0 auto;
	text-align:center;
	font-size:20px;
	color:#000;
}
.message .nav-left{
	width:4%;
	max-width:20px;
	left:0;	
}
.message .relative{
	overflow: hidden;
}
.message .message-box{
	width:100%;
	position:relative;
	height:70px;
	
}
.message .message-less-img{
	width:50px;
	height:50px;
	margin:5px 0;
	padding-left:10px;

}
.message .matter{
	padding-left: 5px;
	line-height:25px;
	margin:10px 0;
	width:calc(100% - 130px)
}
.message .matter>li:nth-child(1){
	font-size:16px;
}
.message .matter>li:nth-child(2){
	font-size:14px;
	color:#666460;
}
.message .matter-num{
	width:40px;
	font-size:16px;
	margin:8px 0;
	text-align:right;
	padding-right:15px;
	overflow:hidden;
	
}
.message .matter-num>li:nth-child(1){
	color:#666460;
	float: right;
	line-height:22px;
}
.message .matter-num>li:nth-child(2){
	float: right;
	width:18px;
	height:18px;
	border-radius: 50%;
	border:2px solid #98312e;
	text-align:center;
	color:#98312e;
	line-height:18px;
}
.message .delete{
	width:40%;
	position:absolute;
	right:-40%;
	top:0;	
}
.message .delete>span{
	text-align:center;
	color:#fff;
	line-height:70px;
	font-size:28px;
}
.message .delete>span:nth-child(1){
	background-color:#535353;
	width:50%;
}
.message .delete>span:nth-child(2){
	background-color:#c02e2e;
	width:50%; 
}

.message .right{
	right:40%;
}
