.search-nav .nav-top{	
	background-color: #ab0027;
}
.search-nav .nav-top>div{
	margin:0 15px;
	position:relative;
}
.search-nav .search-n{
	margin:5px 0;
	width:calc(100% - 60px);
	height:35px;
	border-radius: 30px;
	background-color:#fff;
	overflow:hidden;
}
.search-nav .search-n>span{
	width: 20px;
	height:20px;
	margin:7.5px 5px;

}
.search-nav .search-n>input{
	font-size: 16px;
	width:calc(100% - 80px);
	height:35px;
	border:none;
	background-color: transparent;
	margin-right: 40px
}
.search-nav .nav-right{
 	float:right;
 	width:60px;
 	font-size:18px;
 	color: #fff;
 	text-align: right;
 	line-height: 45px;
}