html,body{
	height:100%;
}
body{
	background-color:#eee;
}
.set{
	padding-top:45px;
}
.set .nav-top{
	width:100%;
	background-color: #fff;
	min-width:320px;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
}
.set .nav-top>div{
	margin:0 5%;
	height:45px;
	position:relative;
}
.set .nav-top>div>div{
	position:absolute;
   
}
.set .nav-text{
	width:92%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	line-height:45px;
	margin:0 auto;
	text-align:center;
	font-size:18px;
	color:#000;
}
.set .nav-left{
	width:4%;
	max-width:20px;
	left:0;	
	 top: 50%;
    transform: translateY(-50%);
}
.set .nav-right{
	width:8%;
	max-width:30px;
	right:0;
	top: 50%;
    transform: translateY(-50%);
}
.set .my{
	background-color: #fff;
	width:100%;
	position:relative;
	margin-bottom:1px; 
}
.set .my-text{
	line-height:50px;
	font-size:18px;
	padding-left: 5%;
}
.set .my-img{
	width:3.5%;
	max-width:18px;
	position:absolute;
	top: 50%;
	right:5%;
	transform:translateY(-50%);
}
.set .my-img2{
	width:10%;
	max-width:40px;
	position:absolute;
	top: 50%;
	right:15%;
	transform:translateY(-50%);
	
}
.set .my2{
	background-color: #fff;
	width:100%;
	overflow:hidden;
	position:relative;
	margin-top:30px; 
}