<div class="footer">
	<div class="bottom-nav">
		<ul>
			<li class="{{liActive[0]}}" ng-click="jump('footer.home')">
				<div class="middle" >
					<div>
						<img ng-src="{{imgUrl[0]}}">
					</div>
					<p>首页</p>
				</div>		
			</li>
			<li class="{{liActive[1]}}">
				<div class="middle" ng-click="jump('footer.classify')">
					<div>
						<img ng-src="{{imgUrl[1]}}">
					</div>
					<p>分类</p>
				</div>
			</li>
			<li class="{{liActive[2]}}">
				<div class="middle" ng-click="jump('footer.shopping')">
					<div>
						<img ng-src="{{imgUrl[2]}}">
					</div>
					<p>购物车</p>
				</div>
			</li>
			<li class="{{liActive[3]}}">
				<div class="middle" ng-click="jump('footer.account')">
					<div>
						<img ng-src="{{imgUrl[3]}}">
					</div>
					<p>账户</p>
				</div>
			</li>
		</ul>
	</div>
</div>
