<div class="account">
	<div class="nav-bg">
		<img src="./image/account-nav.png">
		<div class="nav-top">
			<div>
				<div class="nav-left" ng-click="goOther('set-up')">
					<img src="./image/nav-set.png">			
				</div>
				<div class="nav-right" ng-click="goOther('messageNav.message')">
					<img src="./image/nav-message.png">
				</div>
			</div>
		</div>
		<div class="nav-head">
			<div>
				<img src="./image/account-head.png">
			</div>
			<p>坂本</p>
		</div>	
	</div>
	<div class="my-order" ng-click="goOther('indent')">				
		<div class="my-order-text fl">我的订单</div>
		<div class="my-order-img fr">
			<img src="./image/account-less.png">
		</div>
	</div>
	<div class="my-tool">
		<ul>
			<li>
				<div class="my-tool-link" href="indent.html">
					<div class="my-tool-mediate">
						<div class="my-tool-img">
							<img src="./image/account1.png">
							<div class="my-tool-index"><b>1</b></div>
						</div>
						<p>待付款</p>
					</div>
				</div>
			</li>
			<li>
				<div class="my-tool-link" href="indent.html">
					<div class="my-tool-mediate">
						<div class="my-tool-img">
							<img src="./image/account2.png">
							<!-- <div class="my-tool-index"><b>1</b></div> -->
						</div>
						<p>待发货</p>
					</div>
				</div>
			</li>
			<li>
				<div class="my-tool-link" href="indent.html">
					<div class="my-tool-mediate">
						<div class="my-tool-img">
							<img src="./image/account3.png">
							<!-- <div class="my-tool-index"><b>1</b></div> -->
						</div>
						<p>待收货</p>
					</div>
				</div>
			</li>
			<li>
				<div class="my-tool-link" href="indent.html">
					<div class="my-tool-mediate">
						<div class="my-tool-img">
							<img src="./image/account4.png">
							<!-- <div class="my-tool-index"><b>1</b></div> -->
						</div>
						<p>待评价</p>
					</div>
				</div>
			</li>
			<li>
				<div class="my-tool-link" href="indent.html">
					<div class="my-tool-mediate">
						<div class="my-tool-img">
							<img src="./image/account5.png">
							<!-- <div class="my-tool-index"><b>1</b></div> -->
						</div>
						<p>售后</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="my-order">		
		<div class="my-order-text fl">我的收藏的商品</div>
		<div class="my-order-img fr">
			<img src="./image/account-less.png">
		</div>
	</div>
	<div class="my-order">		
		<div class="my-order-text fl">我收藏的店铺</div>
		<div class="my-order-img fr">
			<img src="./image/account-less.png">
		</div>
	</div>
	<div class="my-order">		
		<div class="my-order-text fl">我收藏的设计师</div>
		<div class="my-order-img fr">
			<img src="./image/account-less.png">
		</div>
	</div>
</div>	
