<div class="classify">
	<div class="nav-top">
		<div>
			<div class="nav-left" ng-click="goOther('set-up')">
				<img src="image/nav-set.png">			
			</div>
			<div class="nav-text">
				分类
			</div>
			<div class="nav-right" ng-click="goOther('searchNav.search')">
				<img src="image/nav-search.png">	
			</div>
		</div>
	</div>
	<div class="list-head">
		<ul id='ul'>
			<li class="line-active"><span>服装</span></li>
			<li><span>育儿</span></li>
			<li><span>家具</span></li>
			<li><span>美容</span></li>
			<li><span>百货</span></li>
			<li><span>食品</span></li>
		</ul>
		
		<div class="classify-icon">
			<img src="image/classify-icon.png">
		</div>
	</div>
	<div class="content">
	<div class="list-content">		
		<div class="tag-text"><span><b>女装</b></span></div>
		<ul class="list-ul">
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify1.png">
							</div>
							<div class="list-text-left">编织衫</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify2.png">
							</div>
							<div class="list-text-right">半袖T恤</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify3.png">
							</div>
							<div class="list-text-left">长袖T恤</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify4.png">
							</div>
							<div class="list-text-right">无袖衫</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify5.png">
							</div>
							<div class="list-text-left">高领衫</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify6.png">
							</div>
							<div class="list-text-right">POLO衫</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify7.png">
							</div>
							<div class="list-text-left">衬衫</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify8.png">
							</div>
							<div class="list-text-right">长袖衬衫</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify9.png">
							</div>
							<div class="list-text-left">七分袖衬衫</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify10.png">
							</div>
							<div class="list-text-right">半袖衬衫</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify11.png">
							</div>
							<div class="list-text-left">连衣裙.裙衣</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify12.png">
							</div>
							<div class="list-text-right">裙.裤</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify13.png">
							</div>
							<div class="list-text-left">牛仔裤</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify14.png">
							</div>
							<div class="list-text-right">棉质长裤</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify15.png">
							</div>
							<div class="list-text-left">羊毛裤</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify16.png">
							</div>
							<div class="list-text-right">裙子</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify17.png">
							</div>
							<div class="list-text-left">夹克衫</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify18.png">
							</div>
							<div class="list-text-right">派克</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify19.png">
							</div>
							<div class="list-text-left">羽绒夹克</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify20.png">
							</div>
							<div class="list-text-right">毛衣</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-li">
				<div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-left">
								<img src="image/classify21.png">
							</div>
							<div class="list-text-left">开衫</div>
							<div class="list-icon-left">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
					<div class="mid-line"></div>
					<div class="fl width-box" ng-click="goOther('footer.productList')">
						<div class="list-li-div">
							<div class="list-img-right">
								<img src="image/classify22.png">
							</div>
							<div class="list-text-right">背心</div>
							<div class="list-icon-right">
								<img src="image/classify-icon.png">
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		</div>
	</div>
</div>

</div>	
<script type="text/javascript">
	$('#ul li').click(function(){
	    $(this).addClass('line-active').siblings().removeClass('line-active');
	})
</script>