
<div class="commodity">
	<div class="content">
		<div class="banner">
			<img src="./image/commodity-banner.png" />
			<ul class="index">
				<li class="active"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="iocn-left" onClick="javascript :history.back(-1);">
				<img src="image/commodity-icon1.png"></a>
			</div>
			<div class="iocn-right">
				<img src="image/commodity-icon2.png">
			</div>
		</div>
		<div class="commodity-text">
			<div>
				<div><b>棉珠地网眼宽POLO衫(素色&条纹）</b></div>
				<div>采用表面有凹凸质感透气性良好的珠网眼面料。穿着干爽舒适。</div>
				<div><b>¥168.00</b></div>
			</div>
		</div>
		<div class="choose">
			<div class="size-choose">
				<div>尺寸选择</div>
				<div>
					<span>尺寸：</span>
					<span>女式S</span>
				</div>
				<div class="size">
					<div class="size-active">女式&nbsp;S</div>
					<div>女式&nbsp;M</div>
					<div>女式&nbsp;L</div>
					<div>女式&nbsp;XL</div>	
				</div>
			</div>
			<div class="color-choose">
				<div>颜色选择</div>
				<div>
					<span>颜色：</span>
					<span>白色条纹</span>
				</div>
				<div class="color">
					<div>
						<img src="image/commodity1.png">
					</div>
					<div><img src="image/commodity2.png"></div>
					<div><img src="image/commodity3.png"></div>
					<div class="color-active"><img src="image/commodity4.png"></div>	
				</div>
			</div>
		</div>
		<div class="choose-num">
			<div class="num-text">购买数量</div>
			<div class="num">
				<span>-</span>
				<input type="text" name="" value="1">
				<span>+</span>
			</div>
			<div class="shopping-btn"><a href="shopping.html">加入购物车</a></div>
		</div>
		<div class="data-details">
			<div class="data-line">
				<div class="line-text">详情</div>
			</div>
			<div class="table1">
				<h4>尺寸(cm)</h4>
				<table>
					<tr>
						<td>&nbsp;</td>
						<td>身长</td>
						<td>肩宽</td>
						<td>胸围</td>
						<td>臂长</td>
					</tr>
					<tr>
						<td>S</td>
						<td>54.0</td>
						<td>48.0</td>
						<td>94.0</td>
						<td>37.0</td>
					</tr>
					<tr>
						<td>M</td>
						<td>56.0</td>
						<td>50.0</td>
						<td>98.0</td>
						<td>38.0</td>
					</tr>
					<tr>
						<td>L</td>
						<td>58.0</td>
						<td>52.0</td>
						<td>102.0</td>
						<td>39.5</td>
					</tr>
					<tr>
						<td>XL</td>
						<td>60.0</td>
						<td>55.0</td>
						<td>108.0</td>
						<td>41.0</td>
					</tr>
				</table>
				<p>※商品尺寸由于手工测量会有2cm-4cm左右误差，请以收到的商品实物为准。</p>
			</div>
			<div class="table2">
				<table>
					<tr>
						<td>产地</td>
						<td>越南</td>
					</tr>
					<tr>
						<td>商品材质</td>
						<td>主体：棉100%</br>罗纹部分：棉100%</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="instruction">
		  <div class="tag-text">
			  <h5>购物指南</h5>
				<h6>配送费用</h6>
			</div>
			<div class="text-box">
				<div>小件商品的配送费用为20.00元/单。 单笔订单消费购买小件商品满500.00元，可享受免费配送服务。
				</div>
			</div>
			<div class="tag-text">
				<h5>支付方法</h5>
			</div>
			<div class="text-box">
				<div>
					<p><a href="">支付宝帐户余额</a></p>
					<p><a href="">网银支付（通过网银）</a></p>
					<p><a href="">信用卡支付（通过支付宝）</a></p>
				</div>
			</div>
			<div class="tag-text">
				<h5>配送期限</h5>
			</div>
			<div class="text-box">
				<div>可以配送的区域及相应配送所需的时间如下所示。</div>
			</div>
			<div class="tag-text">
				<h5>订单的变更·取消</h5>
			</div>
			<div class="text-box">
			  <div>
					<p>取消订单</p>
					<p>配送日期、配送地址的变更</p>
					<p>变更订单</p>
				</div>
			</div>
			<div class="tag-text">
				<h5>更换商品、退货</h5>
			</div>
			<div class="text-box">
				<div>如您在无印良品官方网络商城购买的商品未经使用，并不影响下一位消 费者的权益的情况下，可在到货起14日内进行退货服务申请。当您需
				</div>
			</div>
			<div class="tag-text">
				<h5>关于优惠券</h5>
			</div>
			<div class="text-box">
				<div>
					<p><a href="">优惠券的使用方法 </a></p>
					<p><a href="">使用优惠券购物后的退货</a></p>
					<p><a href="">优惠券的获得方式</a></p>
				</div>
			</div>
			<div class="tag-text">
				<h5>关于商品颜色</h5>
			</div>
			<div class="text-box">
				<div>因拍摄灯光或显示器等因素，网页商品颜色可能与实物存在一定偏差， 请以实物为准，敬请谅解。
				</div>
			</div>
			<div class="tag-text"s>
				<h5>最近浏览的商品</h5>
			</div>
			<div class="browse">
				<div>
					<div><img src="image/commodity5.png"></div>
					<p>棉弹力无袖内衣</p>
				</div>
				<div>
					<div><img src="image/commodity6.png"></div>
					<p>法国亚麻束腰长上衣</p>
				</div>
				<div>
					<div><img src="image/commodity7.png"></div>
					<p>法国袖连衣裙</p>
				</div>
			</div>
		</div>
	</div>
	<div class="nav-bottom">
		<ul>
			<li>联系卖家</li>
			<li ng-click="goOther('footer.shopping')">加入购物车</li>
			<li ng-click="goOther('indent')">立即购买</li>
		</ul>
	</div>
</div>	