<div class="home">
	<div class="nav-top">
		<div class="nav-top-list">
			<div class="nav-left" ng-click="goOther('set-up')">
					<img src="image/nav-set.png">
			</div>
			<div class="search-h" ng-click="goOther('searchNav.search')">
				<span class="img-search">
					<img src="image/home-search.png">
				</span>
				<input type="text" name="" >
			</div>
			<div class="nav-right" ng-click="goOther('messageNav.message')">
				<img src="image/nav-message.png">
			</div>
		</div>
	</div>
	<div class="content">
		<div class="banner">
			<img src="./image/home-banner.png" />
			<ul class="index">
				<li class="active"></li>
				<li></li>
				<li></li>
			</ul>
			
		</div>
		<div class="home-up">
			<div class="home-up-img">
				<img src="image/home-up.png">
			</div>
		</div>
		<div class="goods-box">
			<div class="goods-text">
				<div class="left-text fl"><b>新到商品</b></div>
				<div class="rigth-text fr">更多></div>
			</div>
			<div class="img-box">
				<ul class="img-top">
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-w.png">
							
						</div>
						<p>法国亚麻水洗_法国袖连衣裙</p>
					</li>
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-b.png">
							
						</div>
						<p>棉强捻纱布_七分袖格子衬衫</p>
					</li>
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-bike.png">
							
						</div>
						<p>三轮车</p>
					</li>
				</ul>
				<ul class="img-bootm">
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-j.png">
							
						</div>
						<p>松木材组合式置物架 </p>
					</li>
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-quilt.png">
							
						</div>
						<p>不锈钢保温保冷厚平底杯</p>
					</li>
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-pillow.png">
							
						</div>
						<p>棉纱织起绒柔软&nbsp;浴巾</p>
					</li>
				</ul>
			</div>				
		</div>
		<div class="goods-box">
			<div class="goods-text">
				<div class="left-text fl"><b>热销榜</b></div>
				<div class="rigth-text fr">更多></div>
			</div>
			<div class="img-box">
				<ul class="img-top">
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-quilts.png">
							
						</div>
						<p>空气净化器</p>
					</li>
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-m.png">
							
						</div>
						<p>不锈钢&nbsp;瓶架 2层</p>
					</li>
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/hmoe-safa.png">
							
						</div>
						<p>屋角沙发/棉聚酯纤维&nbsp;编织</p>
					</li>
				</ul>
				<ul class="img-bootm">
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-h2o.png">
							
						</div>
						<p>舒柔乳液</p>
					</li>
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-fan.png">
							
						</div>
						<p>空气循环风扇/低噪音风扇</p>
					</li>
					<li ng-click="goOther('commodity')">
						<div>
							
							<img src="image/home-egg.png">
							
						</div>
						<p>草莓白巧克力&nbsp;65g</p>
					</li>
				</ul>
			</div>			
		</div>
	</div>
</div>

	
