<div class="indent">
	<div class="nav-top">
		<div>
			<div class="nav-left">
				<a onClick="javascript :history.back(-1);"><img src="image/nav-less-b.png"></a>			
			</div>
			<div class="nav-text">
				确认订单
			</div>
			<div class="nav-right">
				<a ng-click="goOther('searchNav.search')"><img src="image/home-search.png"></a>	
			</div>
		</div>	
	</div>
	<div class="center-indent">
		<div class="indent-head">
			<div class="indent-head-text">
				<p>
					<span class="text-al">收货人：</span>
					<span class="text-al">版本</span>
					<span class="text-ar">15907517239</span>
				</p>
				<p>
					<span>收地址：</span>
					<span>北京朝阳区</span>
				</p>
			</div>
			<div class="indent-head-img">
				<img src="image/indent-icon.png">
			</div>
		</div>
		<div class="indent-body">
			<div class="indent-body-img">
				<div>
					<img src="image/indent1.png">
				</div>
			</div>
			<div class="indent-body-text">
				<div class="indent-bt">
					<div>棉珠地网眼宽版POLO衬衫</div>
					<div>
						<div class="indent-btl">
							<p>¥178</p>
							<p>¥160</p>
						</div>
					</div>
				</div>
			</div>
			<div class="indent-num">X1</div>
		</div>
		<div class="indent-text-box">
			<div class="indent-text">
				<span>¥160.00</span>
				<span>小计：&nbsp;</span>
				<span>共1件商品&nbsp;&nbsp;&nbsp;</span>		
			</div>
			<div class="indent-list">
				<div>配送方式：</div>
				<div>
					<img src="image/indent-icon.png">
				</div>
				<div><span>快递费用&nbsp;&nbsp;</span><span>¥20.00</span></div>
			</div>
		</div>
		<div class="indent-text-box">
			<div class="indent-list">
				<div>保障服务：</div>
				<div>
					<img src="image/indent-icon.png">
				</div>
			</div>
		</div>
		<div class="indent-text-box">
			<div class="indent-list">
				<div>优惠代码：</div>
				<div>
					<img src="image/indent-icon.png">
				</div>
			</div>
		</div>
		
	</div>
	<div class="indent-text-end">
		<span>提交订单</span>	
		<span>¥180.00&nbsp;&nbsp;&nbsp;&nbsp;</span>	
		<span>合计：&nbsp;&nbsp;&nbsp;</span>
	</div>
</div>
