<link rel="stylesheet" type="text/css" href="./assets/css/login.css">
<div class="login">
	<div class="head-text">
		<p>Welcome&nbsp;to</p>
		<p><b>MUJI</b></p>
	</div>
	<div class="form">
	 <ul>
	 	<li>
	 		<div class="img fl">
	 			<img src="./image/user.png">
	 		</div>
	 		<div class="input">
	 			<input type="text" name="" placeholder="请输入账号">
	 		</div>
	 	</li>
	 	<li>
	 		<div class="img fl">
	 			<img src="./image/password.png">
	 		</div>
	 		<div class="input">
	 			<input type="text" name="" placeholder="请输入密码">
	 		</div>
	 	</li>
	 </ul>
	</div>
	<div class="login-text">
		<p class="fl"><a ng-click="goOther('register')">注册</a></p>
		<p class="fr">忘记密码</p>
	</div>
	<div class="login-btn" ng-click="goOther('footer.home')">登陆</div>
	<div class="login-text2"><a ng-click="goOther('footer.home')">随便看看></a></div>
	<div class="login-text3">其他登陆方式</div>
	<ul class="login-other">
		<li>
			<div>
				<img src="image/weixin@3x.png">
			</div>	
		</li>
		<li>
			<div>
				<img src="image/qq@3x.png">
			</div>
		</li>
		<li>
			<div>
				<img src="image/weibo@3x.png">
			</div>
		</li>
	</ul>
</div>
