<div class="register">
	<div class="nav-top">
		<div>
			<div class="nav-left">
				<a href="login.html"><img src="image/nav-less-b.png"></a>			
			</div>
			<div class="nav-text" >
				注册
			</div>
			<div class="nav-right">
				<a href="#">帮助</a>	
			</div>
		</div>
		
	</div>
	<div class="register-box">
		<div>
		 	<div class="register-text">用户名</div>
		 	<div class="input"><input type="text" name="" placeholder="请输入用户名"></div>
		</div>
		<div>
		 	<div class="register-text">密码</div>
		 	<div class="input"><input type="text" name="" placeholder="请输入密码"></div>
		</div>
		<div>
		 	<div class="register-text">手机号</div>
		 	<div class="input"><input type="text" name="" placeholder="请输入手机号"></div>
		</div>
		<div>
		 	<div class="register-text">验证码</div>
		 	<div class="input"><input type="text" name="" placeholder="请输入验证码"></div>
		</div>
		<div ng-click="goOther('login')">完成注册，前往登录</div>
	</div>	
</div>