<!-- 不需要尾部导航条 -->
<div class="search">
	<div class="search-records">
		<div class="search-less">
			<div class="fl">
				<img src="image/clock.png">
			</div>
			<div class="records fl" ng-click="goOther('searchNav.search-results')"><div>男装裤子衣服</div><div >×</div>
			</div>
		</div>
	</div>
	<div class="search-records">
		<div class="search-less">
			<div class="fl">
				<img src="image/clock.png">
			</div>
			<div class="records fl"><div>笔记本</div><div >×</div>
			</div>
		</div>
	</div>
	<div class="search-records">
		<div class="search-less">
			<div class="fl">
				<img src="image/clock.png">
			</div>
			<div class="records fl"><div>经典玩具</div><div >×</div>
			</div>
		</div>
	</div>
	
</div>

