<div class="set-address">
	<div class="nav-top">
		<div>
			<div class="nav-left" onClick="javascript :history.back(-1);">
				<img src="image/nav-less-b.png">
			</div>
			<div class="nav-text">
				设置
			</div>
			<div class="nav-right">
				<img src="image/message.png">	
			</div>
		</div>
	</div>	
	<div class="address-box">
		<div class="address-head">
			<div class="address-head">
				<div class="address-head-text">
					<p>
						<span class="text-al">收货人：</span>
						<span class="text-al">版本</span>
						<span class="text-ar">15907517239</span>
					</p>
					<p>
						<span>收地址：</span>
						<span>北京朝阳区</span>
					</p>
				</div>
				<div class="address-head-img">
					<img src="image/indent-icon.png">
				</div>
			</div>
		</div>
		<div class="address-img">
			<div class="adimg-left fl">
				<div class="img-l">
					<img src="image/shopping-yex.png">
				</div>
				<div class="text">默认地址</div>
			</div>
			<div class="adimg-riht fr">
				<div class="text">删除</div>
				<div class="img-r">
					<img src="image/delete.png">
				</div>
			</div>
		</div>
	</div>
	<div class="address-box">
		<div class="address-head">
			<div class="address-head">
				<div class="address-head-text">
					<p>
						<span class="text-al">收货人：</span>
						<span class="text-al">版本</span>
						<span class="text-ar">15907517239</span>
					</p>
					<p>
						<span>收地址：</span>
						<span>北京朝阳区</span>
					</p>
				</div>
				<div class="address-head-img">
					<img src="image/indent-icon.png">
				</div>
			</div>
		</div>
		<div class="address-img">
			<div class="adimg-left fl">
				<div class="img-l">
					<img src="image/shopping-no.png">
				</div>
				<div class="text">默认地址</div>
			</div>
			<div class="adimg-riht fr">
				<div class="text">删除</div>
				<div class="img-r">
					<img src="image/delete.png">
				</div>
			</div>
		</div>
	</div>
	<div class="add-address">添加新的地址</div>
</div>
