<link rel="stylesheet" type="text/css" href="./assets/css/set-up.css">
<div class="set-up">
	<div class="nav-top">
		<div>
			<div class="nav-left" onClick="javascript :history.back(-1);">
				<img src="image/nav-less-b.png">
			</div>
			<div class="nav-text">
				设置
			</div>
			<div class="nav-right">
				<img src="image/message.png">	
			</div>
		</div>
	</div>	
	<div class="my">
		<a ng-click="goOther('set')">
			<div class="my-img2 ">
				<img src="image/account-head.png">
			</div>			
			<div class="my-text2">
				<P>会员号：版本</P>
				<P>帐号：15907517239</P>
			</div>
			<div class="my-img">
				<img src="image/account-less.png">
			</div>
		</a>		
	</div>
	<div class="my">
		<a ng-click="goOther('set-address')">				
			<div class="my-text">收货地址</div>
			<div class="my-img">
				<img src="image/account-less.png">
			</div>
		</a>
	</div>

	<div class="my2">
		<a ng-click="goOther('set')">				
			<div class="my-text">账户与安全</div>
			<div class="my-img ">
				<img src="image/account-less.png">
			</div>
		</a>
	</div>

	<div class="my2">	
		<a>			
		<div class="my-text">音效与通知</div>
		<div class="my-img">
			<img src="image/account-less.png">
		</div>
		</a>
	</div>
	<div class="my">
		<a href="set.html">				
			<div class="my-text">隐私</div>
			<div class="my-img">
				<img src="image/account-less.png">
			</div>
		</a>
	</div>
	<div class="my">
		<a href="">		
		<div class="my-text">清除缓存</div>
		<div class="my-img">
			<img src="image/account-less.png">
		</div>
		</a>		
	</div>
	<div class="my2">
		<a>				
		<div class="my-text">关于无印良品</div>
		<div class="my-img">
			<img src="image/account-less.png">
		</div>
		</a>
	</div>
	<div class="exit" ng-click="goOther('login')">退出当前账户</div>
</div>
	